/* flexbox horizontal && flexbox vertical */
.FBH, .FBV {
  display: flex;
}

/* flexbox vertical */
.FBV {
  flex-direction: column;
}

/* cross axis's align start */
.FBAS {
  align-items: flex-start;
}

/* cross axis's align center */
.FBAC {
  align-items: center;
}

/* cross axis's align end */
.FBAE {
  align-items: flex-end;
}

/* main axis's justify start */
.FBJS {
  justify-content: flex-start;
}

/* main axis's justify center */
.FBJC {
  justify-content: center;
}

/* main axis's justify end */
.FBJE {
  justify-content: flex-end;
}

/* main axis's justify */
.FBJ {
  justify-content: space-between;
}

.FB1 {
  flex: 1;
}
.FB2 {
  flex: 2;
}
.FB3 {
  flex: 3;
}
.FB4 {
  flex: 4;
}
.FB5 {
  flex: 5;
}
.FB6 {
  flex: 6;
}
.FB7 {
  flex: 7;
}
.FB8 {
  flex: 8;
}
.FB9 {
  flex: 9;
}
.FB10 {
  flex: 10;
}